.BodilyMapCanvas {
    height: 100%;
    width: 100%;
}

.BodilyMapCanvas__header {
    font-weight: 100;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.BodilyMap__canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: .5rem;
}

.BodilyMapCanvas__header--bold {
    font-weight: bold;
}

.BodilyMapCanvas__humanImage {
    display: none;
}

.BodilyMapCanvas__button {
    margin: 1rem 10%;
    width: 80%;
    height: 5vh
}