.InstructionScreen__wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 35vh;
    padding-left: 4vw;
    padding-right: 4vw;
}

.InstructionScreen__title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    width: 92vw;
}

.InstructionScreen__button {
    display: block;
    width: 82vw;
    height: 3vh;
    margin-top: 1rem;
    margin-left: 5vw;
    margin-right: 5vw;
    text-decoration: none;
    padding-top: 1vh;
    background-color: gray;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
}