.ParticipantScreen__wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 35vh;
}

.ParticipantScreen__header {
    font-weight: bold;
    text-align: center;
    display: block;
}

.ParticipantScreen__form {
    display: block;
    text-align: center;
}

.ParticipantScreen__inputWrapper {
    width: 100%;
    height: 5vh;
}

.ParticipantScreen__inputLabel {
    display: block;
}

.ParticipantScreen__submitButton {
    width: 70%;
    height: 2rem;
    margin-top: 1rem;
}

